.App-wrapper {
  display: flex;
  flex-direction: row;
}

.Sidebar {
  flex: 1;
}

.Main {
  flex: 4;
}

@media screen and (max-width: 48rem) {
  .App-wrapper {
    display: flex;
    flex-direction: column;
  }
}
