.App-header {
  background-color: #222;
  height: 3rem;
  padding: 5px 0 20px 10px;
  color: white;
}

.App-header,
.App-wrapper {
  width: 97vw;
  margin: 0 1vw 0 1vw;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-wrapper {
  display: flex;
  flex-direction: row;
}

.Sidebar {
  flex: 1;
  width: 16vw;
}

.Main {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Modal-Backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000;
  opacity: 0.9;
}
.Modal-Body {
  z-index: 100;
  position: fixed;
  top: 20vw;
  left: 20vh;
}
@media screen and (max-width: 36rem) {
  .App-wrapper {
    display: flex;
    flex-direction: column;
    width: 93vw;
  }
  .App-header {
    width: 93vw;
  }
}
