.Book-List-Card,
.Detail-Card {
  margin: 1vw 0 0 1vw;
  background-color: #eeeeee;
}
.Book-List-Card {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Detail-Card {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.Book-List {
  line-height: 1.2em;
}
.Title {
  font-size: 2em;
}

.Author {
  font-style: italic;
  font-size: 1.5em;
}

.Faved,
.Not-Faved,
.Wished,
.Not-Wished {
  object-fit: contain;
  max-width: 2vw;
  max-height: 2vw;
  margin: 0.5em 0 0 5px;
}
.Detail .Actions-Box {
  z-index: 999;
}
.Actions-Box {
  height: 2.3em;
  opacity: 0.6;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -2.2em;
}

.Ratings {
  list-style: none;
  padding: 0;
}
.Ratings-item {
  display: inline;
  pointer-events: none;
}
.Ratings-item-star {
  fill: gold;
}

.Genre {
  font-style: italic;
}
.Description {
  margin-top: 1em;
  overflow: auto;
  padding-bottom: 1vw;
}
.Book-List-Summary {
  margin-top: 1vw;
  width: 70%;
}

.Book-List-Cover {
  object-fit: contain;
  margin-right: 1vw;
}

.Image {
  margin: 1vw;
  max-width: 23vw;
  max-height: 23vw;
}
