.Vertical {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;
  padding: 10px;
  background-color: #EEEEEE;
  align-items: flex-start;
}
.Category {
  padding-top: 5px;
}
.Filler {
  flex: 1
}

@media screen and (max-width: 48rem) {
  .Vertical {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  .Category {
    flex: 1;
  }
  .Filler {
    flex: 0;
  }
}
