.Vertical {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  background-color: #eeeeee;
  align-items: flex-start;
}
.Category {
  padding-top: 5px;
}
.Category:hover {
  color: #5afadd;
}

.Filler {
  flex: 1;
}
.Active-Link {
  color: #2cdd2c;
}
@media screen and (max-width: 36rem) {
  .Vertical {
    display: flex;
    flex-direction: row;
    margin: 1vw;
    width: 91vw;
  }
  .Category {
    flex: 1;
  }
  .Filler {
    flex: 0;
  }
}
