.flex-item {
  background: #AAAAAA;
  padding: 5px;
  margin-top: 10px;

  max-width: 250px;
  max-height: 250px;
  color: black;

  font-size: 0.5em;
  text-align: center;
}
.Title-Box {

}
.Book-Cover {
  max-width: 80%;
  max-height: 80%;

}
