.flex-item {
  background: #EEEEEE;
  padding: 5px;
  margin-top: 10px;
  max-width: 250px;
  max-height: 250px;
  color: black;

  font-size: 0.5em;
  text-align: center;
}

.Title-Box {
  position: relative;
  background-color: #EEEEEE;
  opacity: 0.5;
  top: 20px;
  line-height:20px;
  margin-top: -10px;
  left: 0;
  width: 100%
}

.Book-Cover {
  max-width: 90%;
  max-height: 90%;
}
