@media screen and (max-width: 36rem) {
  
  .App-header {
    width: 93vw;
  }
}

.App {
  .padding-left: 20rem;
}


.App-header {
  background-color: #222;
  height: 3rem;
  padding: 5px 0 20px 10px;
  color: white;
  width: 95vw;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
